<div class="sidebar">
    <ul>
        <li class="parent-menu-item">
            <a routerLink="" [routerLinkActive]="'active'">
                Expenses
            </a>
        </li>
        <li class="parent-menu-item">
            <a routerLink="" [routerLinkActive]="'active'">
                Task
            </a>
        </li>
        <li class="parent-menu-item">
            <a routerLink="" [routerLinkActive]="'active'">
                Reports
            </a>
        </li>

        <li class="parent-menu-item">
            Masters
            <ul>
                <li class="sub-menu-item">
                    <a routerLink="" [routerLinkActive]="'active'">
                        Expense Category
                    </a>
                </li>
                <li class="sub-menu-item">
                    <a routerLink="" [routerLinkActive]="'active'">
                        Task Category
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>